<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body bgcolor="#FFFFFF">
<style>
/* unvisited link */
a:link {
color: black;
text-decoration: none;
}



/* visited link */
a:visited {
color: black;
text-decoration: none;
}



/* mouse over link */
a:hover {
color: black;
text-decoration: none;
}



/* selected link */
a:active {
color: black;
text-decoration: none;
}
</style>
<br>
<table width="435" border="0" cellpadding="0" cellspacing="0">
<tr valign="top">
<td width="208" height="156">

    <p style="font-family:arial;color:black;text-align:left;font-size:14px;">Z wyrazami szacunku<br><br></p>
    User_Data
    Location_data

</td>
</tr>
</table>
</body>
</html>