stringprep
turtle
oauth2client
docx
email
pprint
docx2pdf
ctypes
re
tkinter
smtplib
ssl
imghdr
gspread
datetime
customtkinter
os
tempfile
unicodedata
random
calendar
qrcode
PIL
pdf2image